@import '../helpers/mixins.scss';


.solutions {
  &__swiper-slide {
    display: flex;
    justify-content: center;
  }

  &__seo-link {
    margin-top: 8rem;
  }
}

.solution {
  width: 100%;
  // max-width: 53rem;

  cursor: pointer;

  &__image-box {
    position: relative;

    overflow: hidden;
    width: 100%;
    height: 0;
    margin-bottom: 1.5rem;
    padding-bottom: 70%;

    img {
      @include centeredAbsolute();

      display: block;
      max-width: unset;
      min-height: 100%;

      object-fit: contain;
      object-position: center;
    }
  }

  &__link-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 3rem;

    background-color: var(--white);

    .icon {
      width: 1.2rem;
      height: 1.2rem;

      stroke: var(--grey-2);
      transition: stroke 0.3s ease-out;
    }
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__desc {
    margin-bottom: 0.5rem;

    color: var(--title);
    font: var(--font-text-med-16);
  }

  &__feature {
    display: inline-flex;
    align-items: center;

    > i {
      font: var(--font-text-med-14);
    } 
  }

  &__feature-name {
    color: var(--grey);
  }

  &__feature-value {
    color: var(--title);
  }

  &:hover {
    .solution__link-icon {
      .icon {
        stroke: var(--accent);
      }
    }
  }
}